html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  background-image: url('C:\Users\arene\blackjack\public\card_table.jpg'); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  min-height: 100vh; 
}